<section
    class="w-full px-main py-section-y flex flex-col"
    >
    <div
        class="w-full"
        >
        <h2
            mgEntryAnim
            [delay]="200"
            [translateY]="-25"
            class="text-h2 font-semibold opacity-0 my-main"
            >
            Pourquoi nous faire confiance ?
        </h2>
    </div>
    <div
        class="w-full flex flex-col gap-section-y"
        >
        <div
            class="w-full flex flex-col lg:flex-row gap-y-main"
            >
            <div 
                class="w-full lg:w-2/3"
                >
                <h3 class="text-h3 font-semibold mb-md">Plusieurs destinations</h3>
                <p class="text-brand-text-muted text-left text-ellipsis">
                    Une plateforme pensée pour les voyages internationaux et avec plus de 75 destinations dans le monde.
                </p>    
                <p class="text-brand-text-muted mt-md text-justify text-ellipsis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia odit voluptates autem hic, nihil harum ut molestiae adipisci quisquam neque vero nostrum ex maxime nesciunt natus est magnam optio in.</p>
            </div>
            <div
                class="w-full lg:w-1/3 flex items-center justify-center"
                >
                <i class="pi pi-map text-hero! text-brand-accent"></i>
            </div>
        </div>
        <div
            class="w-full flex flex-col lg:flex-row-reverse gap-y-main"
            >
            <div 
                class="w-full lg:w-2/3"
                >
                <h3 class="text-h3 font-semibold mb-md">Paiement sécurisé</h3>
                <p class="text-brand-text-muted text-left text-ellipsis">
                    Préparation à l'integration des moyens de paiement locaux et internationaux.
                </p>    
                <p class="text-brand-text-muted mt-md text-justify text-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quidem delectus facere excepturi commodi sit quas ex temporibus rem nobis. Rerum distinctio quod veritatis corporis quo provident esse exercitationem, ut ab necessitatibus incidunt eveniet expedita soluta laboriosam quam at optio nobis quibusdam officiis accusamus molestias!</p>
            </div>
            <div
                class="w-full lg:w-1/3 flex items-center justify-center"
                >
                <i class="pi pi-clipboard text-hero! text-brand-accent"></i>
            </div>
        </div>
        <div
            class="w-full flex flex-col lg:flex-row gap-y-main"
            >
            <div 
                class="w-full lg:w-2/3"
                >
                <h3 class="text-h3 font-semibold mb-md">Billet électronique</h3>
                <p class="text-brand-text-muted text-left text-ellipsis">
                    Votre réservation et votre billet depuis votre espace client
                </p>    
                <p class="text-brand-text-muted mt-md text-justify text-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sed laboriosam veniam eaque magni, obcaecati cum voluptatibus, possimus quidem tempora repellendus beatae, aperiam iste modi perspiciatis vel ad earum suscipit fuga! Ab.</p>
            </div>
            <div
                class="w-full lg:w-1/3 flex items-center justify-center"
                >
                <i class="pi pi-receipt text-hero! text-brand-accent"></i>
            </div>
        </div>
    </div>
</section>