<p-table
    [ariaLabel]="label()"
    [value]="vols()"
    [paginator]="false"
    [tableStyle]="{'min-width': '65rem'}"
    [rowHover]="true"
    >
    @if(isHeader()) {
        <ng-template 
            #header
            >
            <tr>
                <th >Company</th>
            </tr>
        </ng-template>
    }
    <!-- @for (vol of vols(); track $index;) { -->
        <ng-template #body let-product>
            <tr
                [aria-label]=" 'vol '+ product.depart.town +' - ' + product.destinations.town"
                mgEntryAnim
                [delay]="200"
                [translateY]="-25"
                [threshold]="0.1"
                class="opacity-0"
                >
                <td 
                    style="min-width: 1rem"
                    class="{{textSize()}}"
                    >
                    <img 
                        [src]="product.logo_company"
                        [width]="logoSizeW()"
                        [height]="logoSizeH()"
                    >
                </td>
                <td 
                    style="min-width: 3rem"
                    class="{{textSize()}}"
                    >
                    <div
                        class="flex flex-col"
                        >
                        <span>
                            {{product.company}}
                        </span>
                        <!-- <span class="text-brand-text-muted">
                            {{vol.depart.type}} - {{vol.destinations.type}}
                        </span> -->
                    </div>
                </td>
                <td 
                    style="min-width: 12rem"
                    class="{{textSize()}}"
                    >
                    <div class="flex items-center gap-md">
                        <span class="flex flex-col gap-0">
                            <p>
                                {{product.depart.town}}
                            </p>
                            <small class="text-brand-text-muted">{{product.depart.type}}</small>
                        </span>
                        <span class="text-brand-accent font-black mx-xs">>></span>
                        <span class="flex flex-col gap-0">
                            <p>
                                {{product.destinations.town}}
                            </p>
                            <small class="text-brand-text-muted">{{product.destinations.type}}</small>
                        </span>
                    </div>
                </td>
                <td 
                    style="min-width: 3rem"
                    class="{{textSize()}}"
                    >
                    <span class="flex items-center gap-xs">
                        <p>Départ  </p> :
                        <p class="text-brand-text-muted">
                            {{product.depart.time | date: 'dd MMMM yyyy, HH:mm'}}
                        </p>
                    </span>
                    <span class="flex items-center gap-xs">
                        <p>Arrivé  </p> :
                        <p class="text-brand-text-muted">
                            {{product.destinations.time| date: 'dd MMMM yyyy, HH:mm'}}
                        </p>
                    </span>
                </td>
                <td 
                    style="min-width: 3rem"
                    class="{{textSize()}}"
                    >
                    <span
                        class="flex flex-col"
                        >
                        <p class="font-semibold">
                            {{product.prices.class.economic_class | currency: product.prices.currency}}
                        </p>
                        <p class="text-brand-text-muted">économique</p>
                    </span>
                </td>
                <td 
                    style="min-width: 2rem"
                    >
                    <p-button
                        severity="primary"
                        routerLink=""
                        label="Details"
                        size="small" 
                    />
                </td>
            </tr>
        </ng-template>
    <!-- } -->
</p-table>
